{% load sekizai_tags staticfiles siteutils %}

{% addtoblock "css" %}<link rel="stylesheet" href="{% static atl_component.styles %}">{% endaddtoblock %}
{% addtoblock "css" %}<link rel="stylesheet" href="{% static atl_component.custom_styles %}">{% endaddtoblock %}

<article id="{{ atl_component.id }}" class="atl_django_component hellow_world">
    <h1>{{ atl_component.message }}</h1>
</article>